@model Vehicle

@section title {
    Add a car
}

@section headingButton {
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Vehicle List</a>
}

<partial name="_Form" model="Model"/>