@model Vehicle

@section title {
    Manage a car
}

@section headingButton {
    <a class="btn btn-danger" asp-action="Delete" asp-controller="Home">Delete</a>
}

<partial name="_Form" model="Model" />