@model List<Vehicle>

@section title{
    List
}

@section headingButton {
    <a class="btn btn-primary" asp-action="Create" asp-controller="Home">+ Add New Car</a>
}

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Edit</th>
    </tr>
    @foreach (var vehicle in Model)
    {
        <tr>
            <td>@vehicle.Id</td>
            <td>@vehicle.Name</td>
            <td>@vehicle.Price</td>
            <td><a asp-action="Edit" asp-controller="Home" asp-route-id="@vehicle.Id">Manage</a></td>
        </tr>
    }
    
</table>